.pic_container{
    display: flex;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.picbox{
    transition: 0.5s;
}

.picbox img{
    height: 100%;
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.picbox:hover{
    transform: scale(1.1);
}

@media screen {
    body.mobile{
        background: rgb(59, 12, 231);
    }

    body.mobile header{
        height:150px
    }

    body.mobile header li{
        margin-top:100px
    }

    body.mobile header a{
        font-size: x-large;
    }

    body.mobile nav{
        font-size: x-large;
        font-weight: 600;
    }

    body.mobile section{
        font-size: x-large;
        font-weight: 600; 
    }

}