body{
    background:rgb(153, 153, 153);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
button{
    border: none;
}
header{
    background-image: url("../images/banner.png");
    border-radius: 5px;
    text-align: center;
    height: 350px;
    background-size: 50%;
    background-position: center;
    
    text-align: center;
}
ul.header{
    height: 100%;
    width:100%;
}

ul.header li{
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    margin-top:300px;
}

header a{
    text-transform: uppercase;
    color: black;
    font-size: x-large;
    align-items: center;
}

nav{
    background-color: rgb(167, 167, 167); 
    margin:5px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
nav ul li{
    text-transform: capitalize;
    text-align: center;
    align-items: center;
}
nav ul li a:visited{
    text-decoration: none;
    color:black
}
nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav figure{
    margin: auto;
    text-align: center;
}
nav figure img{
    margin: auto;    
    width: 100px;
}


nav figure a{
    text-decoration: none;
}
nav figure a:visited{
    text-decoration: none;
    color: black;
}
nav figure a:hover{
    text-decoration: underline;
}


ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 5px;
}
li a{
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}
li a:visited{
    color:black
}
li a:active{
    background-color: black;
    text-emphasis-color: black;
}

ul.regeln {
    list-style-type:disc; 
    align-items: left;
    text-align: justify;
    width: 70%;
    margin:auto;
}
ul.regeln li{
    display:list-item;
    margin: 10px
}
ul.regeln li ul {
    list-style-type:circle;
}

p.abschließende_worte{
    width: 70%;
    margin: auto;
    text-align: justify;
}

section{
    background-color: rgb(192, 192, 192);
    margin: 5px;    
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

section.feature-box.gesamtauswertung{
    background-color: gray;
}

.pic_container{
    display: flex;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.column{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.picbox{
    transition: 0.5s;
}

.picbox img{
    height: 100%;
    width: 100%;
    max-height: 800px;
    border-radius: 5px;
    object-fit: cover;
}

.picbox:hover{
    transform: scale(1.1);
    z-index: 2;
}





@media screen and (max-width: 900px){
    header{
        background-color: gray;
        text-align: center;
        display: flex;
        margin: 5px;
    }
    
    nav{
        background-color: gray;            
        margin: 5px;
        display: flex
    }
    nav figure{
        margin: auto;
        text-align: center;
    }
    nav figure img{
        margin: auto;    
        width: 20px;
    }

    nav figure a{
        text-decoration: none;
        font-size: 7px;
    }
    nav figure a:visited{
        text-decoration: none;
        color: black;
    }
    nav figure a:hover{
        text-decoration: underline;
    }

    .pic_container{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .picbox img{
        width: 100%;
    }

    .picbox:hover{
        transform: scale(1.0);
    }
}
