:root{
    --ismobile: False;
}


body{
    background:rgb(153, 153, 153);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
button{
    border: none;
}
header{
    background-image: url("../images/banner.png");
    border-radius: 5px;
    text-align: center;
    height: 350px;
    background-size: 50%;
    background-position: center;
    
    text-align: center;
}
ul.header{
    height: 100%;
    width:100%;
}

ul.header li{
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    margin-top:300px;
}

header a{
    text-transform: uppercase;
    color: black;
    font-size: x-large;
    align-items: center;
}

nav{
    background-color: rgb(167, 167, 167); 
    margin:5px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
nav ul li{
    text-transform: capitalize;
    text-align: center;
    align-items: center;
}
nav ul li a:visited{
    text-decoration: none;
    color:black
}
nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav figure{
    margin: auto;
    text-align: center;
}
nav figure img{
    margin: auto;    
    width: 100px;
}


nav figure a{
    text-decoration: none;
}
nav figure a:visited{
    text-decoration: none;
    color: black;
}
nav figure a:hover{
    text-decoration: underline;
}


ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 5px;
}
li a{
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}
li a:visited{
    color:black
}
li a:active{
    background-color: black;
    text-emphasis-color: black;
}

ul.regeln {
    list-style-type:disc; 
    align-items: left;
    text-align: justify;
    width: 70%;
    margin:auto;
}
ul.regeln li{
    display:list-item;
    margin: 10px
}
ul.regeln li ul {
    list-style-type:circle;
}

p.abschließende_worte{
    width: 70%;
    margin: auto;
    margin-left: 100px;
    text-align: justify;
}

section{
    background-color: rgb(192, 192, 192);
    margin: 5px;    
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

section.feature-box.gesamtauswertung{
    background-color: gray;
}



.column{
    display:flex;
    flex-direction: column;
    gap: 20px;
}


@media screen {
   
    body.mobile header{
        height:150px;
        background-image: url("../images/banner.png");
        border-radius: 5px;
        background-size: 51%;
        background-position: right;
        text-align: center;
    }

    body.mobile header li{
        margin-top:100px;
    }

    body.mobile ul.header li a{
        font-size: x-large;
        font-weight: 600;
    }

    body.mobiel p{
        font-size: x-large;
        font-weight: 500;
    }

    body.mobile p.abschließende_worte{
        font-size: x-large;
        font-weight: 500;
    }

    body.mobile ul.regeln{
        font-size: x-large;
        font-weight: 500;
    }
}
